{% extends "base.html.twig" %}

{% block body %}

    <h1>{{category.name}}</h1>

    <ul id="card-container">
        {% for program in programs %}
            <li class="card">
                <h2 class="program-title">{{program.id}} - {{program.title}}</h2>
                <p class="program-synopsis">{{program.synopsis}}</p>
                <a class="program-details" href=" {{ path("program_show", {id: program.id}) }}">ℹ️ Voir la fiche</a>
            </li>
        {% else %}
            <li>
                Aucune série de type {{category.name}} dans notre catalogue, revenez plus tard !
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path("category_index") }}"><< Catégories</a>
    
{% endblock body %}