{% extends "base.html.twig" %}

{% block body %}
    
    <h1>{{ program.title }}</h1>
    <h2>Saison {{ season.number }}</h2>
    <h3>Épisode {{episode.number}}</h3>
    <p>{{episode.synopsis}}</p>

    <ul id="bottom-nav">
        <li>
            <a href="{{ path('program_season_show', {slug: program.slug, season: season.id}) }}"><< Épisodes</a>
        </li>
    </ul>

{% endblock body %}