{% extends "base.html.twig" %}

{% block title %}
    Wild Series
{% endblock title %}

{% block body %}
    <h1 id="main-title">
        {{website}} 🎬 Catalogue 
    </h1>
    {# <img src="{{ asset('build/images/oui.png') }}" alt=""/> #}

    <ul id="top-nav">
        <li>
            <a href="{{ path('app_index') }}">Accueil</a>
        </li>
        <li>
            <a href=" {{path("category_index")}}">Catégories</a>
        </li>
    </ul>

    <ul id="card-container">
        {% for program in programs %}
            <li class="card">
                <h2 class="program-title">{{ program.title }}</h2>
                <p><span class="program-category">Catégorie</span> : {{ program.category.name }}</p>
                <p class="program-synopsis">{{ program.synopsis }}</p>
                

                <a class="program-details" href=" {{ path("program_show", {id: program.id}) }} ">ℹ️ Voir la fiche • {{ loop.index }}</a>
            </li>
        {% else %}
            <li>
                <p>Aucun programme à afficher</p>
            </li>
        {% endfor %}
    </ul>
    <ul id="bottom-nav">
            <li>
                <a href="{{ path('program_new') }}">Ajouter un programme</a>
            </li>
            <li>
                <a href="{{ path('app_season_index') }}">Ajouter une saison</a>
            </li>
    </ul>
{% endblock body %}