{% extends "base.html.twig" %}

{% block body %}
    <h1 id="program-title">{{program.title}}</h1>
    <h2 id="season-number">Saison {{season.number}}</h2>
    <ul>
        <li id="season-year">
            Année : {{season.year}}
        </li>
        <li id="season-description">
            Description : {{season.description}}
        </li>
        <li>
            Liste des épisodes :
            <ul class="card-container">
                {% for episode in season.episodes %}
                    <li class="card"><a href="{{ path('program_episode_show', {programSlug: program.slug, season: season.id, episodeSlug: episode.slug}) }}">{{episode.number}}</a> : {{episode.title}}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <ul id="bottom-nav">
        <li>
            <a href="{{ path('program_show', {slug: program.slug}) }}"><< Saisons</a>
        </li>
    </ul>
{% endblock body %}