{% extends "base.html.twig" %}

{% block content %}
    <h1>Saison {{season.number}}</h1>
    <ul>
        <li>
            Année : {{season.year}}
        </li>
        <li>
            Description : {{season.description}}
        </li>
        <li>
            Liste des épisodes :
            <ul>
                {% for episode in season.episodes %}
                    <li>{{episode.number}} : {{episode.title}}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>


    <a href="{{ path('program_show', {id: season.program.id}) }}">Retour au programme</a>
{% endblock content %}