{% extends "base.html.twig" %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster ?: asset("build/images/oui.png")}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>Synopsis : {{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <div class="seasons">
                Liste des saisons disponibles :
                <ul id="card-container">
                    {% for season in program.seasons %}
                        <li class="card">
                            <a href="{{ path('program_season_show', {program: program.id, season: season.id}) }}">Saison {{loop.index}}</a> :
                            <p>{{season.description}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <ul id="bottom-nav">
        <li>
            <a href="{{ path('program_index') }}"><< Catalogue</a>
        </li>
    </ul>
{% endblock body %}