{% extends "base.html.twig" %}

{% block body %}
    <img src="{{program.poster ?: asset("build/images/oui.png")}}" alt="{{ program.title }} poster">

    <h1>{{ program.title }}</h1>
    <p>Synopsis : {{ program.synopsis }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    <p>Durée totale : {{ programDuration }}</p>

    <h2>Acteurs :</h2>
    <ul class="actors-list">
        {% for actor in program.actors %}
            <li><a href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.name }}</a></li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

    <div class="seasons">
        <h2>Liste des saisons disponibles :</h2>
        <ul class="card-container">
            {% for season in program.seasons %}
                <li class="card">
                    <a href="{{ path('program_season_show', {slug: program.slug, season: season.id}) }}">Saison {{loop.index}}</a> :
                    <p>{{season.description}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <ul id="bottom-nav">
        <li>
            <a href="{{ path('program_index') }}"><< Catalogue</a>
        </li>
    </ul>
{% endblock body %}