{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <a href="{{ path('app_actor_index') }}">back to list</a>

    <a href="{{ path('app_actor_edit', {'id': actor.id}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}

    <h1>{{ actor.name }}</h1>
    <img src="{{ vich_uploader_asset(actor, 'photoFile') }}" alt="{{ actor.name }}'s photo">
    <h2>Programs :</h2>

    <ul class="card-container">
        {% for program in actor.programs %}
            <li class="card">
                <h2 class="program-title">{{ program.title }}</h2>
                <p><span class="program-category">Catégorie</span> : {{ program.category.name }}</p>
                <p class="program-synopsis">{{ program.synopsis }}</p>

                <a class="program-details" href=" {{ path("program_show", {slug: program.slug}) }} ">ℹ️ Voir la fiche • {{ loop.index }}</a>
            </li>
        {% else %}
            <li>
                <p>Aucun programme à afficher</p>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}